@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  
  --color-brand-500: #8b5cf6;
  --color-brand-600: #7c3aed;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  background-color: #f8fafc;
  color: #0f172a;
}
